@import url(./global.css);

body {
    background-size: 100vw;
    background-repeat: no-repeat;
    background-image: url(../assets/Main.jpg);

}


#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 9% 0 0 5.8%;
    position: fixed;
    height: 410px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    z-index: 1;
    padding: 3px;
    mix-blend-mode: color-burn;
}


#navbar .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
}

#navbar .config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 125px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
}

#navbar .imgIcons {
    padding: 5.5px;
    border-radius: 100%;

}

#home {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 45%;
    background-image: url(../assets/home-peso.png);
    mix-blend-mode: color-burn;

}

#home .imgLogo {
    width: 300px;
}

#home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;

}

#home .loginUsuario {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

#home .separar{
    width: 1px;
    height: 100%;
    background-color: white;
}

#home .container {
    flex-direction: column;
    justify-content: space-between;
}

#home .botaoLogin{
    padding: 10px 25px 10px 25px;
}

#home .texto {
    margin-left: 12%;
    width: 400px;
    height: 380px;
    margin-bottom: 10%;
}


#sobre{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 105vh;
}

#sobre .container{
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

#sobre .bloco{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(233, 229, 229, 1);
    width: 800px;
    height: 550px;
    border-radius: 20px;
}

#sobre .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding-right: 20px;
    width: 700px;
}

#sobre .post{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 60px;
    height: 140px;
    background-color: rgba(233, 229, 229, 1);
    margin-right: -30px;
    z-index: 1;
}

#sobre .bolinha{
    border-radius: 100%;
    background-color: rgba(1, 127, 204, 1);
    width: 20px;
    height: 20px;
}